<!-- index.html for implementing a tree-buy webapp

Maurice Kingma

Website homepage layout
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Studio 't Landje{% endblock %}

<!-- page content -->
{% block content %}
<div class="container mt">
    <div class="row">
        <div class="col-md-8">
            <h4 class="noborder ml">Bestelling bevestigd!</h4>
            <div class="box">
                <h6 class="noborder">Details van je bestelling</h6>
                <br>
                <p class="floatright">{{ order.firstname }} {{ order.lastname }}</p>
                <p class="info">Naam</p>
                <p class="floatright">{{ order.email }}</p>
                <p class="info">E-mail</p>
                {% if itemorder == True %}
                {% if order.street %}
                <p class="floatright right">{{ order.street }} {{ order.number }}<br>{{ order.zipcode }} {{ order.location }}</p>
                <p class="info">Adres</p>
                {% endif %}
                {% endif %}
                <br>
                <div class="boxnomar">
                    <p class="info">Bestelling</p>
                    {% for item in order.items %}
                    <p class="floatright">€ {{ item.get_item_total() }}</p>
                    <p>{{ item.amount }}x {{ item.name }} <br>(€ {{ '%0.2f'| format(item.price|float) }} p/s)</p>
                    {% endfor %}
                    <p class="info floatright">€ {{ order.get_total() }}</p>
                    <p class="info border-top">Totaal</p>
                </div>
                {% if itemorder == True %}
                {% if order.street %}
                <br>
                <p class="ml">U heeft ervoor gekozen om de bestelling te laten bezorgen. Hiervoor worden €4,- aan verzendkosten in rekening gebracht. Deze worden aan het totaalbedrag in het Tikkie toegevoegd. Wij verzenden onze producten met PostNL en u ontvangt dan ook een verzendbevestiging inclusief Track&Trace code wanneer wij de bestelling hebben verzonden.</p>
                {% else %}
                <br>
                <p>U heeft ervoor gekozen om de bestelling af te halen. Nadat de bestelling is betaald ontvangt u van ons een email met de mogelijkheid om hiervoor een afspraak te maken.</p>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 emt">
            <div class="box">
                <h6 class="noborder">E-mailbevestiging verstuurd</h6>
                <p>Een bevestiging met een overzicht van uw bestelling is verzonden naar {{ order.email }}.</p>
                <h6 class="noborder">En hoe nu verder?</h6>
                <p>Nadat de bestelling is geplaatst en door ons is verwerkt ontvangt u een e-mail met de Tikkie betaallink van noreply@studio-t-landje.nl.</p>
                <p>Na het betalen via deze link onvangt u een betaalbevestiging via e-mail en weet u zeker dat de bestelling is verwerkt.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
