<!-- index.html for implementing a tree-buy webapp

Maurice Kingma

Website homepage layout
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Studio 't Landje{% endblock %}

<!-- page content -->
{% block content %}
<div class="container mt">
    <h6 class="noborder ml"><a class="nodec" href="{{ url_for('dashnewsletter') }}"><i class="fas fa-long-arrow-alt-left"></i> Nieuwsbrieven</a></h6>
    <form enctype="multipart/form-data" class="needs-validation box" action="{{ url_for('createnewsletter', newsletter_id=newsletter.id if newsletter else 0) }}" method="post" novalidate>
        <h4 class="noborder">Nieuwsbrief editor</h4>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <label>Ontvangers</label>
            <select class="form-control" name="recipients" required>
                <option value="test">Test</option>
                <option value="donation">Donaties</option>
                <option value="products">Producten</option>
                <option value="everyone">Iedereen</option>
            </select>
            <div class="invalid-feedback">Geef een onvanger voor de nieuwsbrief op</div>
        </div>
        <div class="form-group">
            <label>Onderwerp</label>
            <input id="subject" type="text" name="subject" class="form-control" value="{{ '' if newsletter.subject == None else newsletter.subject }}" required>
            <div class="invalid-feedback">Geef een onderwerp voor de e-mail op</div>
        </div>
        <div class="form-group">
            <label>Upload afbeeldingen</label>
            <input id="file" class="form-control-file" type="file" name="file" multiple>
            <div class="imageLinks"></div>
            <input id="images" type="hidden" name="images" value="{{ '' if newsletter.images == None else newsletter.images }}">
            <input id="updateId" type="hidden" name="updateId" value="{{ newsletter.id }}">
            <input id="type" type="hidden" name="type" value="newsletter">
            <p class="inputhelp">Bestandsformaten: jpg, jpeg, png, svg</p>
        </div>
        <textarea id="body" name="editor1" id="editor1" required>
            {{ '' if newsletter.body == None else newsletter.body }}
        </textarea>
        <div class="invalid-feedback">Inhoud van de nieuwsbrief is leeg</div>
        <div class="floatright mt">
            <div class="btn btn-outline-dark" id="unlock">
                <i id="lock" class="fas fa-lock"></i>
            </div>
            <button id="locked" class="btn btn-dark" type="submit" name="action" value="delete" disabled><i class="fas fa-trash-alt"></i><span class="mobile"> Verwijderen</span></button>
            <button id="locked" class="btn btn-dark" type="submit" name="action" value="send" disabled><i class="fas fa-paper-plane"></i><span class="mobile"> Versturen</span></button>
        </div>
        <button class="btn btn-outline-secondary mt" type="submit" name="action" value="save"><i class="far fa-save"></i> Opslaan</button>
    </form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/ckeditor.js')}}"></script>
<script>
CKEDITOR.replace( 'editor1' );
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/unlock.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/copylink.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/showfilename.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/validator.js')}}"></script>
{% endblock %}
