<!-- index.html for implementing a tree-buy webapp

Maurice Kingma

Website homepage layout
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Studio 't Landje{% endblock %}

<!-- page content -->
{% block content %}
<div class="container mt">
    <h6 class="emb"><a class="nodec" href="{{ url_for('dashboard') }}"><i class="fas fa-long-arrow-alt-left"></i> Dashboard</a></h6>
    <h4 class="noborder"><i class="fas fa-wrench"></i> Website instellingen</h4>
    <form class="boxnomar" action="{{ url_for('dashwebsite') }}" method="post">
        <h6 class="noborder"><i class="fas fa-key"></i> Wachtwoord wijzigen</h6>
        <p>Gebruik dit formulier om het wachtwoord van het beheerdersaccount te wijzigen</p>
        <br>
        <div class="form-group">
            <label>Nieuw wachtwoord</label>
            <input class="form-control" type="password" name="password1" value="">
        </div>
        <div class="form-group">
            <label>Herhaal nieuw wachtwoord</label>
            <input class="form-control" type="password" name="password2" value="">
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button class="btn btn-outline-secondary mt" type="submit" name="action" value="password"><i class="far fa-save"></i> Opslaan</button>
    </form>
    <br>
    <form enctype="multipart/form-data" class="boxnomar" action="{{ url_for('dashwebsite') }}" method="post">
        <h6 class="noborder"><i class="far fa-image"></i> Homepagina afbeelding</h6>
        <p>Upload hier een nieuwe afbeelding om de homepagina-afbeelding te wijzigen</p>
        <input type="file" name="file" class="form-control-file mt">
        <p class="inputhelp">Bestandsformaten: jpg, jpeg, svg, png</p>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button class="btn btn-outline-secondary mt" type="submit" name="action" value="img"><i class="far fa-save"></i> Opslaan</button>
    </form>
    <br>
    <form class="boxnomar" action="{{ url_for('dashwebsite') }}" method="post">
        <h6 class="noborder"><i class="far fa-file-alt"></i> Beschrijving winkelpagina</h6>
        <div class="form-group">
            <label>Beschrijving</label>
            <textarea type="text" name="shopdescription" class="form-control">{{ shopdescription }}</textarea>
            <p class="inputhelp">Wijzig hier de text die bij de productwinkel op de website wordt weergegeven</p>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button class="btn btn-outline-secondary mt" type="submit" name="action" value="shopdescription"><i class="far fa-save"></i> Opslaan</button>
    <!-- <form class="boxnomar" action="{{ url_for('dashwebsite') }}" method="post">
        <h6 class="noborder"><i class="far fa-video"></i> Homepagina video</h6>
        <div class="form-group">
            <label>YouTube video-ID</label>
            <input type="text" name="videolink" class="form-control">
            <p class="inputhelp">Video-ID is de code in een youtube link na 'watch?v='</p>
        </div>
        <div class="form-group">
            <label>Duur video (in seconden)</label>
            <input type="text" name="videolength" class="form-control">
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button class="btn btn-outline-secondary mt" type="submit" name="action" value="video"><i class="far fa-save"></i> Opslaan</button>
    </form> -->
</div>
{% endblock %}
