<!-- index.html for implementing a tree-buy webapp

Maurice Kingma

Website homepage layout
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Studio 't Landje - Fout{% endblock %}

<!-- page content -->
{% block content %}
<div class="container">
    <h4 class="noborder">Oeps.. dat ging niet helemaal goed</h4>
    <p>De applicatie heeft een fout opgelopen, deze is automatisch doorgegeven aan de beheerder.</p>
    <br>
    <br>
    <p>{{ status_code }}: {{ message }}</p>
</div>
{% endblock %}
