<!-- index.html for implementing a tree-buy webapp

Maurice Kingma

Website homepage layout
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Studio 't Landje{% endblock %}

<!-- page content -->
{% block content %}
<div class="backDrop"></div>
<div class="container nomt nopt">
    {% if post %}
    <h5 class="mt pl">Ons verhaal</h5>
    <p class="nomargin mb">{{ post.short }}</p>
    <div class="postbody nomargin">
        {{ post.body|safe }}
    </div>
    <a class="nodec floatright mr" href="{{ url_for('story') }}">Lees verder <i class="fas fa-long-arrow-alt-right"></i></a>
    {% endif %}
    {% if lastupdate %}
    <br>
    <h5 class="emt pl">Laatste update</h5>
    <h6 class="sub">{{ lastupdate.title }}<span class="floatright">{{ lastupdate.date.strftime("%B '%y")}}</span></h6>
    <p class="nomargin">{{ lastupdate.short }}</p>
    <a class="nodec floatright mr" href="{{ url_for('updates') }}">Alle updates <i class="fas fa-long-arrow-alt-right"></i></a>
    <br>
    {% endif %}
</div>
{% endblock %}
