<!-- index.html for implementing a tree-buy webapp

Maurice Kingma

Website homepage layout
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Studio 't Landje{% endblock %}

<!-- page content -->
{% block content %}
<!-- <div class="backDrop"></div> -->
<div class="backDrop2">
    <video class="backVideo" playsinline autoplay loop muted>
        <source src="{{ url_for('static', filename='video/backvideo.mp4')}}" type="video/mp4">
    </video>
</div>
<!-- <div class="backDropLink" data-background="{{ background }}"></div>
<div class="videolink" data-link="https://www.youtube.com/embed/{{ videolink }}?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1" data-length="{{ videolength }}"></div> -->
<div class="container nomt nopt">
    <div class="row">
        <div class="d-block d-md-none">
            <div class="ml mr emt">
                <h6 class="noborder">Welkom op de website van Studio 't Landje!</h6>
                <p>Hier vind je alle informatie over ons duurzaamheidsproject in het Naardermeer, en hoe jij kan bijdragen aan het succes daarvan!</p>
            </div>
        </div>
        <div class="col-md-7">
            {% if post %}
            <h5 class="emt pl">Ons verhaal</h5>
            <div class="postbody nomargin">
                {{ post.short }}
                {{ post.body|safe }}
            </div>
            {% endif %}
            <div class="d-block d-md-none">
                {% if lastposts %}
                <h5 class="mt pl">Laatste blogposts</h5>
                {% for post in lastposts %}
                <a class="postlink" href="{{ url_for('post', post_id=post.id) }}">
                    <div class="postbox">
                        <h6 class="noborder">{{ post.title }}</h6>
                        <p class="postdate nomargin">{{ post.date.strftime('%-d %B %Y %R') }}</p>
                        <p>{{ post.short }}</p>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-5 d-none d-xs-block d-md-block">
            <div class="sidebox emt">
                <h6 class="noborder">Welkom op de website van Studio 't Landje!</h6>
                <br>
                <p>Hier vind je alle informatie over ons duurzaamheidsproject in het Naardermeer, en hoe jij kan bijdragen aan het succes daarvan!</p>
                {% if lastposts %}
                <h5 class="mt pl">Laatste blogposts</h5>
                {% for post in lastposts %}
                <a class="postlink" href="{{ url_for('post', post_id=post.id) }}">
                    <div class="postbox">
                        <h6 class="noborder">{{ post.title }}</h6>
                        <p class="postdate nomargin">{{ post.date.strftime('%-d %B %Y %R') }}</p>
                        <p>{{ post.short }}</p>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/background.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/videoplayer.js')}}"></script>
{% endblock %}
