<!-- index.html for implementing a tree-buy webapp

Maurice Kingma

Website homepage layout
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Studio 't Landje{% endblock %}

<!-- page content -->
{% block content %}
<div class="container mt">
    <h6 class="emb"><a class="nodec" href="{{ url_for('dashshop') }}"><i class="fas fa-long-arrow-alt-left"></i> Dashboard winkel</a></h6>
    <h6 class="noborder"><i class="far fa-boxes"></i> Verwerkte bestellingen</h6>
    <div class="tablediv">
        <table class="table table-responsive-xs">
    		<thead class="thead-dark">
    			<th scope="col"><i class="fas fa-terminal"></i></th>
                <th scope="col"><i class="fas fa-signature"></i></th>
    			<th scope="col"><i class="fas fa-calendar"></th>
    			<th scope="col"><i class="fas fa-boxes"></i></th>
                <th scope="col"><i class="fas fa-euro-sign"></i></th>
                <th scope="col"><i class="fas fa-paper-plane"></i></th>
                <th scope="col"><i class="fas fa-receipt"></i></th>
                <th scope="col"><i class="fas fa-truck-loading"></i></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
    		</thead>
    		<tbody>
    			{% for order in orders %}
    			<tr>
    		        <td>{{ order.id + 10000 }}</td>
                    <td class="namecolumn">{{ order.firstname }} {{ order.lastname }}</td>
    				<td>{{ order.date.strftime("%d-%m-%y") }}</td>
                    <td>
                        {% for item in order.items %}
                            {{ item.name }}: {{ item.amount }}<br>
                        {% endfor %}
                    </td>
                    <td>{{ order.get_total() }}</td>
                    <td>
                        {% if order.sendpayment %}
                        <i class="fas fa-check-circle green smt"></i>
                        {% else %}
                        <i class="fas fa-times-circle red smt"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if order.paid %}
                        <i class="fas fa-check-circle green smt"></i>
                        {% else %}
                        <i class="fas fa-times-circle red smt"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if order.delivered %}
                        <i class="fas fa-check-circle green smt"></i>
                        {% elif order.pickup == None %}

                        {% else %}
                        <i class="fas fa-times-circle red smt"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if order.sendpayment %}
                        <form action="{{ url_for('orders') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="action" value="undo">
                            <input type="hidden" name="id" value="{{ order.id }}">
                            <button class="btn btn-outline-dark btn-sm nomargin noborder" type="submit" name="button"><i class="fas fa-undo-alt"></i></button>
                        </form>
                        {% else %}
                        <form action="{{ url_for('orders') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="action" value="fastforward">
                            <input type="hidden" name="id" value="{{ order.id }}">
                            <button class="btn btn-outline-dark btn-sm nomargin noborder" type="submit" name="button"><i class="fas fa-fast-forward"></i></button>
                        </form>
                        {% endif %}
                    </td>
                    <td>
                        <form action="{{ url_for('orders') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="action" value="export">
                            <input type="hidden" name="id" value="{{ order.id }}">
                            <button class="btn btn-outline-dark btn-sm noborder" type="submit" name="button"><i class="fas fa-external-link-alt"></i></button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('orders') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="action" value="delete">
                            <input type="hidden" name="id" value="{{ order.id }}">
                            <button id="locked" class="btn btn-outline-dark btn-sm noborder" type="submit" name="button" disabled><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
    			</tr>
    			{% endfor %}
    		</tbody>
    	</table>
    </div>
    <div class="btn btn-sm btn-outline-dark floatright" id="unlock">
        Ontgrendel verwijderen <i id="lock" class="fas fa-lock"></i>
    </div>
    <br>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/unlock.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tablesort.js')}}"></script>
{% endblock %}
