<!-- index.html for implementing a tree-buy webapp

Maurice Kingma

Website homepage layout
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Studio 't Landje{% endblock %}

<!-- page content -->
{% block content %}
<div class="container mt">
    <h6 class="noborder"><i class="far fa-shopping-basket"></i> Producten</h6>
    {% if products %}
    <div class="tablediv">
        <table class="table table-responsive-xs">
            <thead class="thead-dark">
                <th scope="col"><i class="fas fa-box-open"></i></th>
                <th scope="col"><i class="fas fa-tag"></th>
                <th scope="col"><i class="fas fa-boxes"></i></th>
                <th scope="col"><i class="fas fa-cash-register"></i></th>
                <th scope="col"><i class="fas fa-question-circle"></i></th>
                <th scope="col"><i class="fas fa-edit"></i></th>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.sold }}</td>
                    <td><a href="{{ url_for('dashfaqs', product_id=product.id) }}">FAQ</a></td>
                    <td><a href="{{ url_for('createproduct', product_id=product.id) }}">Wijzigen</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form action="{{ url_for('dashshop') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button name="action" value="newproduct" type="submit" class="btn btn-outline-dark btn-sm noborder nomargin"><i class="far fa-tag"></i> Nieuw</button>
    </form>
    {% else %}
    <p>Nog geen producten aan winkel toegevoegd</p>
    {% endif %}
</div>
{% endblock %}
