<!-- sendpayment.html for implementing a tree-buy webapp

Maurice Kingma

send payment link page layout
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Studio 't Landje{% endblock %}

<!-- page content -->
{% block content %}
<div class="container mt">
	<h6><a class="nodec" href="{{ url_for('dashshop') }}"><i class="fas fa-long-arrow-alt-left"></i> Winkel</a></h6>
	<h5 class="noborder"><i class="far fa-paper-plane"></i> Stuur betaallinks</h5>
    {% if orders %}
	<div class="tablediv">
		<table class="table table-responsive-xs">
			<thead class="thead-dark">
				<th scope="col"><i class="fas fa-terminal"></i></th>
				<th scope="col"><i class="fas fa-euro-sign"></i></th>
				<th scope="col"><i class="fas fa-link"></i></th>
			</thead>
			<tbody>
				{% for order in orders %}
				<tr>
	                <td>{{ order.id + 10000 }}</td>
					<td>€{{ order.get_total() }}</td>
					<td>
						<form action="{{ url_for('sendpayment') }}" method="post">
							<input class="form-control form-control-sm" type="text" name="link">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
							<input type="hidden" name="order" value="{{ order.id }}"/>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
    {% else %}
    <p>Nog geen bestellingen geplaatst</p>
    {% endif %}
</div>
{% endblock %}
