<!-- shop.html for implementing a tree-buy webapp

Maurice Kingma

Website shop layout
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Studio 't Landje{% endblock %}

<!-- page content -->
{% block content %}
<div class="container mt">
    <div class="container nomt nopt">
        <div class="row">
            <div class="col-md-8">
                <h5 class="noborder">Winkel</h5>
                {% if products %}
                <ul class="list-unstyled">
                {% for product in products %}
                <li class="listitem">
                    <div class="row">
                        <div class="col-5">
                            <div class="thumbnail" style="background-image: url('{{ 'https://raw.githubusercontent.com/MYKingma/tree/master/static/img/uploads/products/' + product.id|string + '/' + product.image }}');"></div>
                        </div>
                        <div class="col-7 list-body">
                                <h5>{{ product.name }}</h5>
                                <p>{{ product.description }}</p>
                                <br>
                                <a class="nodec" href="{{ url_for('faq', product_id=product.id, product_name=product.name) }}" target="_blank"><i class="far fa-external-link-alt"></i>  Vragen over {{ product.name }}?</a>
                        </div>
                        <div id="myProgress">
                            <div id="myBar" data-product="{{ product.id }}" data-percentage="{{ product.get_percentage_sold() * 100 }}"></div>
                        </div>
                    </div>
                    <p class="floatright info">Prijs per stuk <i class="fas fa-euro-sign"></i> {{'%0.2f'| format(product.price|float)}}</p>
                    <p class="info">Al {{ (product.get_percentage_sold() * 100)|round|int }}% verkocht!</p>
                    <br>
                    <form class="productForm boxnomar noborder border-top" action="" method="">
                        <div class="row">
                            <p class="info col-4 nomargin">Aantal</p>
                            <input id="amount" type="number" name="amount" class="form-control-sm col-2 pl" data-id="{{ product.id }}" min=0>
                            <p class="col-6"></p>
                        </div>
                        <br>
                        <div class="row">
                            <p class="info col-4">Totaal</p>
                            <p data-priceid="{{ product.id }}" class="col-2 info" data-price="{{ product.price }}" data-name="{{ product.name }}">€0.00</p>
                            <div class="col-6">
                                <input type="hidden" name="orderstring" value="">
                                <div class="btn btn-sm btn-outline-dark floatright" data-button="{{ product.id }}"><i class="fas fa-plus"></i> Toevoegen</div>
                            </div>
                        </div>
                    </form>
                </li>
                {% endfor %}
                </ul>
                {% endif %}
                <!-- <div class="d-block d-md-none emt">
                    <h6 class="noborder">Winkelwagen</h6>
                    <div class="items1">
                        <p>De winkelwagen is nog leeg</p>
                    </div>
                    <br>
                    <div class="border-top mb"></div>
                    <p class="floatright total">€0,00</p>
                    <p class="info">Totaal</p>
                    <form action="{{ url_for('shop') }}" method="post">
                        <input type="submit" class="btn btn-outline-dark" value="Afrekenen">
                    </form>
                </div> -->
            </div>
            <div class="col-md-4">
                <div class="sidebox emt">
                    <h6 class="noborder">Winkelmandje</h6>
                    <div class="items">
                        <p class="empty">De winkelwagen is nog leeg</p>
                    </div>
                    <br>
                    <div class="border-top mb"></div>
                    <p class="floatright total">€0.00</p>
                    <p class="info">Totaal</p>
                    <div class="floatright btn btn-outline-dark emptycart btn-sm">
                        Legen
                    </div>
                    <form action="{{ url_for('shop') }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input class="orderdict" type="hidden" name="orderdict" value="">
                        <input type="submit" class="buybutton btn btn-outline-dark btn-sm" value="Afrekenen" disabled>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
function move(productId) {
    var i = 0;
  if (i == 0) {
    i = 1;
    var elem = document.querySelector("[data-product='" + productId + "']");
    console.log(elem);
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= document.querySelector("[data-product='" + productId + "']").dataset.percentage) {
        clearInterval(id);
        i = 0;
      } else {
        width++;
        elem.style.width = width + "%";
      }
    }
  }
}
document.addEventListener('DOMContentLoaded', () => {
    var bars = document.querySelectorAll('#myBar');
    for (i = 0; i < bars.length; i++) {
        var productId = bars[i].dataset.product;
        move(productId)
    }
});
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/changeprice.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/shoppingcart.js')}}"></script>
{% endblock %}
