@charset "UTF-8";
/*
stylesguide.scss

Maurice Kingma

stylesheet for tree-buy webapp
*/
html {
  height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend Peta", sans-serif;
  color: #7284A0;
  border-bottom: 4px solid #CBD5D0;
}

p, text, li, ul, label {
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: white;
  border-bottom: 1px solid lightgrey;
}
nav img {
  max-height: 55px;
  padding: 0;
  margin: 0;
}

.container {
  min-height: 100%;
  padding-top: 87px;
  z-index: 1;
  background-color: white;
  padding-bottom: 8rem;
}

.titleFont {
  font-family: "Lexend Peta", sans-serif;
  margin: 0;
  padding: 0;
}

.videobox {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.videobox iframe {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#myProgress {
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
}

#myBar {
  width: 1%;
  height: 10px;
  border-radius: 10px;
  background-color: #7284A0;
}

.listitem {
  padding: 15px;
  border: 0.5px solid grey;
  border-radius: 5px;
}
.listitem .thumbnail {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}
.listitem h5 {
  border: none;
}
.listitem .boxnomar {
  padding-top: 10px;
  padding-bottom: 5px;
}
.listitem input, .listitem p, .listitem label {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.info {
  color: grey;
  font-weight: bold;
}

.backDrop {
  width: 100vw;
  background-image: url("/static/img/sheep-back.jpg");
  min-height: 250px;
  max-height: 400px;
  margin-top: 87px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.mt {
  margin-top: 15px;
}

.mr {
  margin-right: 15px;
}

.smt {
  margin-top: 5px;
}

.emt {
  margin-top: 30px;
}

.ml {
  margin-left: 15px;
}

.mb {
  margin-bottom: 10px;
}

.emb {
  margin-bottom: 20px;
}

.epb {
  padding-bottom: 20px;
}

.eml {
  margin-left: 30px;
}

.pl {
  padding-left: 15px;
}

.epl {
  padding-left: 30px;
}

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}

.nodec, .nodec:visited, .nodec:hover {
  text-decoration: none;
  color: #7284A0;
}

.nomt {
  margin-top: 0;
}

.nopt {
  padding-top: 0;
}

.nodec:hover {
  color: grey;
}

.floatright {
  float: right;
}

.box {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 20px;
  margin: 10px;
}

.sidebox {
  border-left: 1px solid lightgrey;
  padding-left: 20px;
}

.postbox {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 10px;
  margin-bottom: 5px;
}
.postbox h6 {
  font-size: 15px;
  margin-bottom: 0;
}

.postlink p, .postlink:active p, .postlink:visited p {
  color: black;
}
.postlink .postdate, .postlink:active .postdate, .postlink:visited .postdate {
  color: grey;
  font-size: 7px;
  font-weight: bold;
}
.postlink h6, .postlink:active h6, .postlink:visited h6 {
  color: #7284A0;
}

.postlink:hover {
  text-decoration: none;
}
.postlink:hover h6, .postlink:hover p {
  color: grey;
}

.boxnomar {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 20px;
  margin: 0;
}

.smallbox {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  padding-top: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.smallbox label {
  font-weight: bold;
  padding-top: 0px;
  margin-top: 0px;
}

.noborder {
  border: none;
  border-bottom: none;
}

.inputhelp {
  color: grey;
  font-size: 10px;
  margin-left: 5px;
  margin-top: 3px;
}

.sub {
  border: none;
  color: #9AAFA4;
}
.sub span {
  font-size: 10px;
  color: grey;
}

#treelink {
  color: darkgreen;
}
#treelink i {
  margin-right: 5px;
}

#treelink:hover {
  color: #9AAFA4;
}

.navbar-brand {
  margin: 0;
  margin-right: 10px;
}
.navbar-brand a, .navbar-brand a:hover, .navbar-brand a:visited {
  text-decoration: none;
  color: #9AAFA4;
}

.nav-link, .nav-item {
  color: black;
  margin-top: 2px;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler i {
  color: #9AAFA4;
}

.message-container {
  position: fixed;
  top: 100px;
  width: 100%;
  z-index: 10;
}

.alert-dismissible {
  animation: 0.2s ease-out 0s 1 slideInFromLeft;
  margin-left: 10px;
  margin-right: 10px;
}

.postbody {
  text-align: center;
}
.postbody p {
  text-align: left;
}
.postbody img, .postbody input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.postbody h1, .postbody h2, .postbody h3, .postbody h4, .postbody h5, .postbody h6 {
  font-size: 15px;
}
.postbody img:hover, .postbody input:hover {
  cursor: default;
}
.postbody iframe {
  max-width: 100%;
}

.green {
  color: green;
}

.red {
  color: red;
}

.timeline {
  width: 100%;
  max-width: 800px;
  background: #fff;
  padding: 50px 25px;
  position: relative;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0px;
  left: calc(33% + 12px);
  bottom: 0px;
  width: 8px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: 0.5em;
  float: left;
  width: 33%;
  padding-right: 5px;
  text-align: right;
  position: relative;
  padding-bottom: 30px;
}
.entry .title:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 8px solid #9AAFA4;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -15px;
  z-index: 99;
}
.entry .title h6 {
  margin: 0;
  border: none;
  font-size: 15px;
}
.entry .title p {
  margin: 0;
  font-size: 15px;
  color: #9AAFA4;
  font-weight: bold;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  max-width: 66%;
  padding-left: 20px;
}
.entry .body input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.entry .body input:hover {
  cursor: default;
}
.entry .body p {
  line-height: 1.4em;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color: #aaa;
  padding-left: 10px;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "–";
  margin-right: 0.5em;
}

.watermark img {
  width: 100px;
  position: absolute;
  bottom: 45px;
  right: 30px;
}

.contact {
  border: 20px solid #9AAFA4;
  background-color: black;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 50px;
}
.contact p {
  color: white;
}
.contact img {
  width: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7rem;
  padding: 20px;
  background-color: #9AAFA4;
  color: white;
}
.footer img {
  max-height: 55px;
}
.footer div {
  font-family: "Lexend Peta", sans-serif;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 489px) {
  .title h6, .title p {
    font-size: 12px !important;
  }

  .body p, .body ul li {
    font-size: 14px !important;
  }
}
@media (min-width: 489px) {
  .navbar-brand {
    margin-right: 100px;
  }
}

/*# sourceMappingURL=styles.css.map */
