/*
stylesguide.scss

Maurice Kingma

stylesheet for tree-buy webapp
*/

// colors
$darkGreen: #9AAFA4;
$lightGreen: #CBD5D0;
$blue :#7284A0;

// tag styling
html {
	height: 100vh;
}
html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
    color: $blue;
    border-bottom: 4px solid $lightGreen;
}
p, text, li, ul, label {
    font-family: 'Roboto', sans-serif;
}
nav {
    background-color: white;
    border-bottom: 1px solid lightgrey;
    img {
        max-height: 55px;
        padding: 0;
        margin: 0;
    }
}
.tablediv {
	table {
		min-width: 100%;
		white-space: nowrap;
	}
	max-width: 100%;
	overflow: scroll;
}
// class styling
/// container and page settings
.container {
	min-height: 100%;
	padding-top: 87px;
	z-index: 1;
	background-color: white;
	padding-bottom: 8rem;
}
.titleFont {
    font-family: 'Nothing You Could Do', cursive;
	font-weight: bold;
    margin: 0;
    padding: 0;
}
.videobox {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
	iframe {
		display: none;
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border: 0;
	}
}

#myProgress {
	margin: 10px;
	margin-left: 15px;
	margin-right: 15px;
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
}

#myBar {
  width: 1%;
  height: 10px;
  border-radius: 10px;
  background-color: $blue;
}
.listitem {
	.thumbnail {
		width: 100%;
		height: 100%;
		background-position: center center;
		background-size: cover;
	}
	h5 {
		border: none;
	}
	padding: 15px;
	border: 0.5px solid grey;
	border-radius: 5px;
	.boxnomar {
		padding-top: 10px;
		padding-bottom: 5px;
	}
	input, p, label {
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}
.info {
	color: grey;
	font-weight: bold;
}
.btn-primary {
	background-color: $blue;
	border-color: $blue;
}
.card {
	border: none;
}
.emptycart {
	display: none;
}
.backDrop {
    width: 100vw;
    background-image: url("/static/img/sheep-back.jpg");
	min-height: 250px;
    max-height: 400px;
	margin-top: 87px;
    background-size: cover;
    background-position: center center;
	overflow: hidden;
}
.backVideo {
	margin-top: 86px;
	min-width: 100%;
	max-width: 100%;
}
.mt {
    margin-top: 15px;
}
.mr {
    margin-right: 15px;
}
.smt {
    margin-top: 5px;
}
.emt {
    margin-top: 30px;
}
.ml {
    margin-left: 15px;
}
.mb {
    margin-bottom: 10px;
}
.emb {
    margin-bottom: 20px;
}
.epb {
    padding-bottom: 20px;
}
.eml {
    margin-left: 30px;
}
.pl {
    padding-left: 15px;
}
.epl {
    padding-left: 30px;
}
.nopadding {
    padding: 0;
}
.nomargin {
    margin: 0;
}
.nodec, .nodec:visited, .nodec:hover {
    text-decoration: none;
    color: $blue;
	font-weight: bold;
}
.nonodec, .nonodec:visited, .nonodec:hover {
    text-decoration: none;
	font-weight: bold;
	color: white;
}
.nomt {
    margin-top: 0;
}
.nopt {
    padding-top: 0;
}
.nodec:hover {
    color: $darkGreen;
}
.notif {
	color: white;
	font-weight: bold;
	background-color: $blue;
	border-radius: 40%;
	padding-left: 7px;
	padding-right: 7px;
}
.floatright {
    float: right;
}
.box {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 20px;
    margin: 10px;
}
.sidebox {
	border-left: 1px solid lightgrey;
	padding-left: 20px;
}
.postbox {
	border: 1px solid lightgrey;
	border-radius: 3px;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 10px;
	margin-bottom: 5px;
	h6 {
		font-size: 15px;
		margin-bottom: 0;
	}
}
.postlink, .postlink:active, .postlink:visited {
	p {
		color: black;
	}
	.postdate {
		color: grey;
		font-size: 11px;
		font-weight: bold;
	}
	h6 {
		color: $blue;
	}
}
.postlink:hover {
	h6, p, .postdate {
		color: $darkGreen;
	}
	text-decoration: none;
}
.boxnomar {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 20px;
    margin: 0;
}
.smallbox {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px;
    padding-top: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    label {
        font-weight: bold;
        padding-top: 0px;
        margin-top: 0px;
    }
}
.noborder {
    border: none;
    border-bottom: none;
}
.inputhelp {
    color: grey;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 3px;
}
.sub {
    border: none;
    color: $darkGreen;
    span {
        font-size: 10px;
        color: grey;
    }
}
.menubutton {
	font-family: 'Comfortaa', cursive;
	color: $darkGreen;
	font-size: 13px;
	margin-right: 5px;
}

#treelink {
    color: darkgreen;
    i {
        margin-right: 5px;
    }
}
#treelink:hover {
    color: $darkGreen;
}

/// navbar
.navbar-brand {
    a, a:hover, a:visited {
    	text-decoration: none;
        color: $darkGreen;
    }
    margin: 0;
    margin-right: 10px;
}
.nav-link, .nav-item {
    color: black;
    margin-top: 2px;
}
.navbar-toggler {
    border: none;
    i {
        color: $darkGreen;
		font-size: 15px;
    }
}

/// alerts
.message-container {
	position: fixed;
	top: 100px;
	width: 100%;
	z-index: 10;
}
.alert-dismissible {
	animation: 0.2s ease-out 0s 1 slideInFromLeft;
	margin-left: 10px;
	margin-right: 10px;
}

/// post body
.postbody {
	text-align: center;
	p, h1, h2, h3, h4, h5, h6 {
		text-align: left;
	}
    img, input {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}
    h1, h2, h3, h4, h5, h6 {
        font-size: 15px;
		border: none;
    }
	img:hover, input:hover {
		cursor: default;
	}
	iframe {
		max-width: 100%;
	}
	a, a:visited, a:active {
		font-weight: bold;
		color: $blue
	}
	a:hover {
		color: $darkGreen;
		text-decoration: none;
	}
}

.green {
	color: green;
}
.red {
	color: red;
}
/// timeline
$gutter: 5px;
$border-width: 8px;
$dot-diameter: 15px;

.timeline {
  width:100%;
  max-width:800px;
  background:#fff;
  padding: 50px 25px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left:calc(33% + 12px); //$gutter/2
    bottom: 0px;
    width: $border-width;
    background: #ddd;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
  .title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: $gutter;
    text-align: right;
    position: relative;
    padding-bottom: 30px;
    &:before {
      content: '';
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid $darkGreen;
      background-color: #fff;
      border-radius:100%;
      top: 15%;
      right: -$dot-diameter;
      z-index: 99;
    }
    h6 {
      margin: 0;
      border: none;
      font-size: 15px;
    }
    p {
      margin: 0;
      font-size: 10px !important;
      color: $darkGreen;
      font-weight: bold;
    }
  }
  .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    max-width: 66%;
    padding-left: 20px;
    input {
        display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
    }
    input:hover {
        cursor: default;
    }
    p {
      line-height: 1.4em;
      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }
    ul {
      color:#aaa;
      padding-left: 10px;
      list-style-type: none;
      li:before {
        content: "–";
        margin-right: .5em;
      }
    }
  }
}
.watermark {
	img {
		width: 100px;
		position: absolute;
		bottom: 45px;
		right: 30px;
	}
}
.contact {
    border: 20px solid $darkGreen;
    background-color: black;
    p {
        color: white;
    }
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 50px;
    img {
        width: 50px;
    }
}

/// footer
.footer {
    position: absolute;
	bottom: 0;
	width: 100%;
	height: 7rem;
    padding: 20px;
    background-color: $darkGreen;
    color: white;
    img {
        max-height: 55px;
    }
}
// animations
@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/// timeline


// @media styling
/// small
@media (max-width: 489px) {
    .title h6, .title p {
        font-size: 12px !important;
    }
    .body p, .body ul li {
        font-size: 14px !important;
    }
	.mobile {
		display: none;
	}
	.smalltitle {
		font-size: 5px;
	}
}

/// large
@media (min-width: 489px) {
    .navbar-brand {
        margin-right: 100px;
    }
	.mobile {
		display: block;
	}
	.btn {
		overflow: visible;
		white-space: nowrap;
		span, i {
			display: inline-block;
		}
	}
}
